<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Todo list</title>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"
    ></script>

    <link rel="shortcut icon" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>

  <body>
    <h1>My todo list</h1>

    <div id="todo-table">
      <form action="">
        <input type="text" name="item" placeholder="Add new item" required />

        <button type="submit">Add item</button>
      </form>

      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
      </ul>
    </div>
  </body>
</html>
