body {
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

h1 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#todo-table {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    background: #090d13;
}

input[type="text"] {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    background: #181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

button {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    border: 0;
    background: #23282e;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 20px 0 0;
    list-style-type: none;
}

li {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover {
    text-decoration: line-through;
    background: rgba(0, 0, 0, 0.2);
}
